<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NodeList</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    <section class="container">
      <div class="paragrafos">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>
          Placeat, nostrum? Maxime eligendi, in ea aspernatur tempore vitae
          harum dolore,
        </p>
        <p>
          voluptatem doloremque beatae accusamus, nemo eveniet dolores aperiam
          necessitatibus.
        </p>
        <p>Vero, voluptatem?</p>
      </div>
    </section>

    <script src="./js/main.js"></script>
  </body>
</html>
